<div id="root-container">
  <mat-drawer-container hasBackdrop="false" id="container">
    <mat-drawer #drawer mode="side">
      <nav id="l-nav">
        <app-nav-route>
          <button title="HOME" mat-button routerLink="home/">
            <mat-icon>home</mat-icon>
          </button>
          <span>Home</span>
        </app-nav-route>

        <app-nav-route>
          <button title="GLOBAL" mat-button routerLink="global/">
            <mat-icon>blur_circular</mat-icon>
          </button>
          <span>Global</span>
        </app-nav-route>

        <app-nav-route>
          <button title="LOCAL" mat-button routerLink="local/">
            <mat-icon>map</mat-icon>
          </button>
          <span>Local</span>
        </app-nav-route>
      </nav>
      <nav id="t-nav"></nav>
    </mat-drawer>

    <mat-drawer-content>
      <main>
        <nav id="logo">
          <app-nav-route>
            <mat-icon (click)="drawer.toggle()">menu</mat-icon>
            <img src="assets/images/fixiversityL.svg" />
          </app-nav-route>
        </nav>

        <ng-content></ng-content>
        <router-outlet></router-outlet>
      </main>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
