/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card {
  background-color: #ffffff;
}
.mat-card .mat-card {
  background-color: #e91e62;
}
.mat-card .mat-card .mat-card,
.mat-button {
  background-color: #e91e62;
  color: #fff;
}
.mat-drawer-container {
  background-color: #fff;
}
/* /* s */
