#home-container main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-start;
  max-width: 1300px;
  margin: auto;
}
#home-container main .mat-card {
  flex-grow: 1;
  flex-wrap: wrap;
  flex-basis: 25%;
  margin: 1rem;
  margin-right: auto;
}
.mat-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.mat-elevation-z {
  border-bottom: 3px solid #e91e62;
  box-shadow: 0 0 1em 0em #0000001c;
}
.mat-card-content {
  margin-bottom: 40px;
}
mat-card-title {
  font-size: 2em;
}
ngb-carousel {
  height: calc(65vh - 69px);
  width: 100%;
  overflow: hidden;
}
ngb-carousel img {
  min-height: calc(75vh - 69px);
  height: auto;
  width: 100%;
  margin-top: -10vh;
  max-height: 1100px;
}
.carousel-caption {
  background: #ffffff17;
  text-align: left;
  padding: 1em;
  font-size: 2em;
  top: calc(15vh - 69px);
  clear: both;
  width: 25em;
  border-top: 5px solid #e91e63a8;
  color: #151515;
  left: 10%;
  text-shadow: 0 0 20px #fff;
  height: calc(60vh - 69px);
}
.white {
  color: #fff;
  text-shadow: 0 0 20px #000;
}
.carousel-caption h3 {
  font-size: 1.2em;
}
.carousel-caption h3 b {
  color: #e91e63;
  font-weight: 700;
}
