#home-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content:flex-start;
  max-width: 1300px;
  margin: auto;
}
#home-container .mat-card {
  flex-grow: 1;
  flex-wrap: wrap;
  flex-basis:25%;
  margin: 1rem;
  margin-right: auto;
}
.mat-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.mat-elevation-z {
  border-bottom: 3px solid #e91e62;
  box-shadow: 0 0 1em 0em #0000001c;
}
.mat-card-content {
  margin-bottom: 40px;
}
mat-card-title {
  font-size: 2em;
}
